{{!-- Post inner body, make sure to use {{#each}} and {{/each around this is you are using it to generate lots of posts
somewhere}} --}}

<link rel="stylesheet" href="/assets/css/post.css">

<div class="container">
    <div class="row">
        <div class="post-image col">
            <img src={{this.image}}>
        </div>
        <div class="post-data col">
            <div class="post-username">
                <h3 class="post-user">Posted by: {{this.user}}</h3>
            </div>
            <div class="add">
                <input class="button" data={{this.id}} id="add-like" type="submit" value="Like"></input>
            </div>
            <div class="post-counts">
                {{this.like_count}} like(s) and {{this.comments_count}} comment(s)
            </div>
            <div class="post-caption">
                <p class="post-caption">{{this.caption}}</p>
            </div>
            {{#if req.session.user.id === this.user_id}}
            {{/if}}
            <form class="comment-form">
                <div>
                    <input type="text" class="textbox" data={{this.id}} placeholder="Leave a comment here..." id="comment-box" />
                </div>
                <div class="comment-button">
                    <input class="button" type="submit" value="Comment"></input>
                </div>
                <nav class="view-comments">
                    <input class="button" data={{this.id}} id="viewComment" value="View Comments"></input>
                </nav>
            </form>
        </div>
    </div>
</div>
