{{!-- shows individual post if clicked on. This shows the likes and comments on this post as well as who liked, commented, and posted. --}}
{{!-- Post --}}
<article class="post">
    <div class="picture">
        <img src="{{post.image}}">
    </div>
    <div class="likes-and-comments">
        {{post.like_count}} like(s) and {{post.comment_count}}
        {{!-- could also do something like post.comments.length --}}
    </div>
    <div class="caption">
        <p class="post-user">{{post.user}}</p>
        <p class="post-caption">{{post.caption}}</p>
    </div>
</article>

{{!-- form and comments
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}} --}}